.navOption {
  display: flex;
  height: 5vh;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5vw;
  gap: 0.5vw;
  text-decoration: none;
  background-color: white;
  border-radius: 0.9vh;

  &__icon {
    color: black;
    width: 1.2vw;
    height: 1.2vw;
  }

  p {
    font-size: 1.2vw;
    color: black;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-thickness: 0;
  }
}

.navOption:hover {
  background-color: rgb(233, 249, 255);
}
